/* reset nas margens que a tag <a>, class="navbar" vem por padrão no bootstrap */
body {
  background-color: #f5f5f5 !important;
  padding-top: 60px !important;
}

.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar-brand-main a {
  margin: 0;
}

/* Partes estilizadas fora do bootstrap */
.bg-light {
  --bs-bg-opacity: 1;
  background-color: #F1F3F4 !important;
}

/*Logo*/
.navbar-collapse {
  justify-content: flex-end;
}

.navbar-brand-main {
  letter-spacing: 1px;
  background-color: #f50053;
}

.box-shadow-nav {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
              0 4px 8px 0 rgba(0,0,0,.05);
}

.btn-outline-dark {
  border-color: #f50053 !important;
}

.btn-outline-dark:hover {
  background-color: #f50053 !important;
  color: #fff !important;
}

.ul-main .btn-lg {
  font-size: 1rem;
}


/*carousel*/
.container-main-slide {
  padding-top: 50px;
}

.carousel-inner {
  min-height: 760px !important;
}

.d-flex-main {
  display: flex;
  justify-content: flex-end;
}

.carousel-control-prev {
  margin-right: .2rem !important;
}

.carousel-control-prev, 
.carousel-control-next {
  position: relative !important;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex !important;
  align-items: center;
  width: 2% !important;
  padding: 0;
  color: #fff !important;
  text-align: center;
  background: #f50053 !important;
  border: 0;
  opacity: .5 !important;
  transition: opacity 0.15s ease;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: flex !important;
  width: 1rem !important;
  height: 1rem !important;
  background-repeat: no-repeat !important;
  background-position: 50% !important;
  background-size: 100% 100% !important;
}

.carousel-control-prev-icon:hover ,
.carousel-control-next-icon:hover {
  color: #F1F3F4 !important;
}

.h1-main {
  color: #00AF97;
  font-weight: bold;
  margin-bottom: 0px;
}

.h1-main__2 {
  color: #FE542C;
  font-weight: bold;
  margin-bottom: 0px;
}

.h1-main__3 {
  color: #7aa6cc;
  font-weight: bold;
  margin-bottom: 0px;
}

.h5-main {
  font-size: 1.8rem;
  font-weight: bold;
}

.main-nike-air-slid {
  display: flex;
  justify-content: space-between;
  height: 400px;
  z-index: 3;
}

/* circle */

.circle-g,
.circle-g2,
.circle-g3 {
  position: absolute;
  background-color: #00AF97;
  width: 410px;
  height: 410px;
  border-radius: 50%;
  z-index: -1;
  right: 5px;
  top: 1px;
}

.circle-p,
.circle-p2,
.circle-p3 {
  position: absolute;
  background-color: #ED9100;
  width: 290px;
  height: 290px;
  border-radius: 50%;
  z-index: -1;
  bottom: 100px;
}

.circle-g2 {
  background-color: #FE542C;
}

.circle-p2 {
  background-color: #E5E2E9;
}

.circle-g3 {
  background-color: #96bee2;
}

.circle-p3 {
  background-color: #db1b32;
}


/*fim carousel*/

/*início button*/


.btn-main {
  display: inline-block;
  padding: 5px 30px;
  text-decoration: none;
  color: #f5f5f5;
  background-color: #00AF97;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-main:hover {
  background-color: #01a08b;
  color: #f5f5f5;
}

.container-btn {
  max-width: 250px;
}

.btn-main__2 {
  display: inline-block;
  padding: 5px 30px;
  text-decoration: none;
  color: #f5f5f5;
  background-color: #FE542C;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-main__2:hover {
  background-color: #f04f2b;
  color: #f5f5f5;
}

.btn-main__3 {
  display: inline-block;
  padding: 5px 30px;
  text-decoration: none;
  color: #f5f5f5;
  background-color: #96bee2;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-main__3:hover {
  background-color: #7aa6cc;
  color: #f5f5f5;
}
/*fim button and slidShow*/

/* start section  Nike air max carousel */


.main-style {
  margin-top: 100px;
}

.carousel-cell {
  width: 190px;
  height: auto;
  margin-right: 10px;
}

.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}

.flickity-prev-next-button {
  top: 50%;
  width: 30px;
  height: 30px;
  border-radius: 0%;
}

.flickity-button {
  background: hsla(172, 100%, 34%, 0.75);
  color: #f5f5f5;
}

.flickity-button:hover {
  background: hsla(172, 100%, 34%, 100);
  color: #E5E2E9;
}

.flickity-page-dots {
  display: none;
}



/*direction controlls*/

.glide__arrow--left {
  position: absolute;
  top: 200px;
  left: -35px;
  background-color: #00AF97;
  border: 1px solid #01a08b;
  color: #fff;
  font-weight: bold;
}

.glide__arrow--right {
  position: absolute;
  right: -20px;
  top: 200px;
  background-color: #00AF97;
  border: 1px solid #01a08b;
  color: #fff;
  font-weight: bold;
}




/* responsive star */
@media (min-width: 1024px) and (max-width: 1439px) {
  /* circle */

  .circle-g,
  .circle-g2,
  .circle-g3 {
    width: 320px;
    height: 320px;
    top: 50px;
  }

  .circle-p,
  .circle-p2,
  .circle-p3 {
    width: 230px;
    height: 230px;
  }

  /* start section  Nike air max carousel */
.card-style__img img {
  max-width: 190px;
}

.card-style__text {
  width: 190px;
}

}

@media (min-width: 768px) and (max-width: 1023px) {
  .fixed-top {
    position: relative;
  }

  .container-main-slide {
    padding-top: 0px;
  }

  /* circle */

  .circle-g,
  .circle-g2,
  .circle-g3 {
    width: 200px;
    height: 200px;
    top: 130px;
  }

  .circle-p,
  .circle-p2,
  .circle-p3 {
    width: 160px;
    height: 160px;
    bottom: 150px;
  }

  .circle-g2 {
    background-color: #FE542C;
  }

  .circle-p2 {
    background-color: #E5E2E9;
  }

  .carousel-inner {
    min-height: 540px !important;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .fixed-top {
    position: relative;
  }

  .main-nike-air-slid {
    display: flex;
    width: 100%;
    height: auto;
    right: 1px;
    position: absolute;
    top: 120px;
    z-index: 3;
  }

  .main-nike-air-slid .w-75 {
    width: 100% !important;
  }

  .main-nike-air-slid p {
    text-align: justify;
    margin-top: 10px !important;
    font-size: .9rem !important;
  }

  .container-btn {
    display: flex;
    max-width: 400px;
    justify-content: center;
  }

  /*Esta class coloca os conteúdos em column a partir de 425px*/
  .flex-column-main {
    flex-direction: column;
  }

  .container-main-slide {
    padding-top: 0px;
  }

  /* circle */
  .container-img {
    position: absolute;
    left: 40%;
    top: 0px;
    padding-top: 0px !important;
  }

  .container-img img {
    position: absolute;
    bottom: -120px;
    right: 30%;
  }

  .circle-g,
  .circle-g2,
  .circle-g3 {
    width: 130px;
    height: 130px;
    top: 0px;
    right: 30%;
  }

  .circle-p,
  .circle-p2,
  .circle-p3 {
    width: 90px;
    height: 90px;
    bottom: -150px;
    right: 80%;
  }

  .circle-g2 {
    background-color: #FE542C;
  }

  .circle-p2 {
    background-color: #E5E2E9;
  }

  .h1-main, .h1-main__2, .h1-main__3 {
    text-align: center;
  }
  
  .h5-main {
    text-align: center;
    font-size: 1rem;
  }

  .carousel-inner {
    min-height: 540px !important;
  }

  .carousel-indicators [data-bs-target] {
    width: 15px !important;
    height: 3px !important;
    border-radius: 30%;
  }

  .carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #f50053 !important;
  }

  .carousel-control-prev, 
  .carousel-control-next {
  width: 4% !important;
  }

  /*carousel text*/
  .main-style {
    margin-top: 30px;
  }

}